<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="login_container">
        <h2>Login</h2>
        <form id="login-form">
            <div class="input-group custom1">
                <input type="text" id="username" name="username" placeholder="Username" 
                    style="background: #F45050" required>
            </div>
            <div class="input-group custom2">
                <input type="password" id="password" name="password" placeholder="Password" 
                    style="background: #F45050" required>
            </div>
            <div class="input-group">
                <a href="#" id="forgot-password">Forgot Password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>