body {
    background-color: #F0F0F0;
}

h2 {
    color: #3C486B;
    -webkit-text-stroke: 3px #3C486B;
    font-size: 72px;
    margin-top: 40px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.login_container {
    background: #F0F0F0;
    width: 40%;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 20px;
    padding: 40px 10px 10px 10px;
    border: double 8px #3C486B;
}

input {
    filter: drop-shadow(0px 4px 4px #3C486B);
    width: 75%;
    height: 30px;
    padding: 8px;
    margin: 15px;
    font-size: 16px;
    background-color: #F0F0F0;
    color: #3C486B;
    
}

.forget-password {

    padding-top: 10px;
    margin-left: auto;
    text-align: center;
}

.forget-password a {
    color: #d1d1d1; 
    text-decoration: underline; 
    font-size: 14px; 
    text-align: right;
}

.forget-password a:hover {
    color: #F45050;
}

button {
    background: #F45050;
    color: #fffffc;
    margin-top: 30px;
    margin-bottom: 10%;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
}

button:hover {
    background-color: #F9D949;
}

.to-sign-up {
    color: #3C486B;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

.to-sign-up span a{
    color: #F45050;
    font-weight: bold; 
    text-decoration: underline; 
    cursor: pointer;
    font-size: 22px;
}

.to-sign-up span a:hover {
    color: #F9D949;
    font-weight: bold; 
    text-decoration: underline; 
    cursor: pointer;
    font-size: 22px;
}
