.row {
    display: flex;
    width: 60%;
}

.row-1 textarea{
    display: inline;
    width: 580px;
    height: 45px;
    margin-top: 40px;
    margin-left: 117px;
    margin-bottom: 40px;
    background-color: #F45050;
    border:solid 2px black;
    line-height: 1.5;
    padding: 10px;
    color: #F0F0F0;
    text-align: center;
    font-size: 22px;
}

.row-2 button{
    display: inline;
    margin-left: 20px;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    background-color: #F45050;
    color: #F0F0F0;
    font-weight: 500;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 30px;
}

.row-2 button:hover {
    background-color: #F9D949;
    color: black;
}

.post {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-bottom: 40px;
    background-color: #3c486be3;
    border: solid 2px rgb(0, 0, 0);
    border-collapse: collapse;
    width: 50%;
    color: #F0F0F0;
    padding: 20px;
    line-height: 2;
}

.add_friend {
    display: flex;
}

.time {
    color: #F45050;
}