/* General Styles */

.wholeContent {
    padding-top: 50px;
    max-width: 60%;
    margin-bottom: 20%;
    padding-bottom: 100px;
    margin: 0 auto;
}

/* Image Upload Preview Styles */

#imageUploadPreview {
    width: 100%;
    /* max-height: 1000px; Set a maximum height to control the size of the preview */
    /* margin-top: 10px; */
    margin: 0 auto;
    min-height: 400px;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#removeImageUploadPreviewButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#removeImageUploadPreviewButton:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.new_post {
    background-color: #3C486B;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.post {
    background-color: #3C486B;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    color: #dddfe2;
}

.post p {
    margin: 0;
}

.content {
    margin-top: 10px;
}

.post_image img {
    max-width: 100%;
    border-radius: 8px;
}

.react {
    margin-top: 20px;
}

.react button {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}

.react .col {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}

.react .toolTip {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Buttons Styles */

button {
    background-color: #3C486B;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2b3755;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Comments Styles */

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.commentForm,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    resize: none;
}

.time {
    color: #F45050;
    padding-left: 10px;
}

#imageUploadLabel {
    background-color: #1877f2;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#imageUpload {
    display: none;
    /* Hide the actual file input */
}

#imageUploadLabel:hover {
    background-color: #1465c0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.userLink {
    color: #F9D949;
    font-weight: 550;
}

/* Media Queries */

@media (max-width: 600px) {
    .col {
        flex-direction: column;
    }
}