
h1 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 40px;
    text-align: center;
    color: #3C486B;
    filter: drop-shadow(1px 4px 2px #3c486b55);
}

h2 {
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
    color: #3C486B;
}

.new_work_cover {
    display: flex;
    flex-direction: row;
}

.project_name {
    width: 77%;
    margin-left: 80px;
    margin-bottom: 10px;
    padding: 15px;
    border: solid 2px #000000;
    background-color: #F9D949;
    color: #000000;
}

.detail {
    /* width: 50px; */
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 15px;
    border: solid 2px black;
    background-color: #F45050;
}

.detail:hover {
    background-color: #cd0000;
}

.detail a{
    color: #F0F0F0;
}

.add_work {
    text-align: center;
    border: solid 3px black;
    border-radius: 30px;
    padding: 15px;
    margin-top: 3%;
    margin-left: 44%;
    margin-right: 44%;
    background-color:#F45050
}

.add_work a {
    font-size: 16px;
    font-weight: 700;
    color:#F9D949;
}

.add_work:hover {
    background-color: #cd0000;
}

.view_detail {
    text-align: center;
    border: solid 3px black;
    border-radius: 30px;
    font-size: 17px;
    padding: 15px;
    margin-top: 1%;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 10%;
    background-color:#F45050
}

.view_detail a {
    font-size: 16px;
    font-weight: 700;
    color:#F9D949;
}

.view_detail:hover {
    background-color: #cd0000;
}


