.header {
    margin-top: 50px;
    margin-bottom: 30px;
}

.header h1 {
    text-align: center;
    font-size: 36px;
    color: #3C486B;
    filter: drop-shadow(1px 2px 2px #8ca1e0);
}

.header p a{
    border: dashed 3px black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 1330px;
    color: #F9D949;
    background-color: #F45050;
    font-size: 18px;
    font-weight: 700;
}

.header p a:hover {
    background-color: #F9D949;
    color: #F45050;
}

.first {
    margin-top: 50px;
}

.a {
    margin-left: 8%;
    margin-bottom: 30px;
}

.b {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.a label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    color: #3C486B;
}

.b label {
    font-size: 20px;
    font-weight: 600;
    color: #3C486B;
}

.a input {
    font-size: 18px;
    border: solid 3px black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    background-color: #F9D949;
}

.b textarea {
    width: 500px;
    height: 50px;
    font-size: 18px;
    border: dashed 3px black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 0px;
    margin-top: 15px;
    background-color: #F9D949;
}

.idea_form h2{
    font-size: 26px;
    margin-top: 50px;
    margin-left: 8%;
    color: #3C486B;
}

.second {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.second button {
    width: auto;
    height: 25px;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #F0F0F0;
    border: solid 2px rgb(11, 11, 11);
    border-radius: 20px;
    background-color: red;
    margin-left: 1%;
    margin-top: 3.5%;
}

.second button:hover{
    background-color: rgb(164, 2, 2);
}

.c {
    margin-left: 8%;
    margin-bottom: 30px;
    color: #3C486B;
}

.d {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: #3C486B;
}

.c label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.d label {
    font-size: 20px;
    font-weight: 600;
}

.c input {
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    background-color: #F9D949;
    border: solid 3px black;
    border-radius: 20px;
}

.d textarea {
    width: 500px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin-left: 0px;
    margin-top: 15px;
    border: dashed 3px black;
    border-radius: 20px;
    background-color: #F9D949;
}

.idea_form p button{
    font-size: 20px;
}

.add_on_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 7%;
}

.e button {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    color: #F9D949;
    background-color: #F45050;
    border: dashed 3px black;
    border-radius: 20px;
    margin-left: 580px;
}

.e button:hover {
    background-color: #F9D949;
    color: #F45050;
}

.f button{
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    padding: 10px;
    color: #F9D949;
    background-color: #F45050;
    border: dashed 3px black;
    border-radius: 20px;
}

.f button:hover {
    background-color: #F9D949;
    color: #F45050;
}



