html, body {
    background: #3C486B;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
}

.user-container h1 {
    margin-bottom: 60px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 60px;
}

.user-input {
    display: flex;
    flex-direction: column;
    color: rgba(247, 247, 247, 0.674);
}

.row {
    display: flex;
    /* gap: 100px; */
    width: 100%;
    margin-bottom: 30px;
}

.name_label,
.surname_label,
.username_label,
.id_label,
.email_label,
.age_label,
.description_label {
    margin-right: 10px;
    font-size: 24px;
}

.name_box,
.username_box{
    background-color: #262b46;
    width: 215px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 20px;  
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
}

.surname_box{
    background-color: #262b46;
    width: 233px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 20px;  
    border-radius: 5px;
    border: solid 1px rgb(252, 252, 252);
}

.id_box {
    background-color: #262b46;
    width: 260px;
    height: 50px;
    padding: 10px;
    margin-right: 30px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
}

.email_box {
    background-color: #262b46;
    width: 610px;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
}

input[type=number] {
    background-color: #262b46;
    width: 46px;
    height: 30px;
    margin-right: 30px;
    margin-left: 15px;
    font-size: 18px;
    color: rgba(247, 247, 247, 0.674);
    border-radius: 5px;
}

.description {
    background-color: #262b46;
    width: 410px;
    height: 120px;
    margin-left: 15px;
    font-size: 20px;
    color: rgba(247, 247, 247, 0.674);
    border-radius: 5px;
    padding: 10px;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.row-2 {
    display: flex;
    flex-direction: column;
}

.row-2 button {
    background-color: #2c354f;
    color: #fffffc;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    width: 15%;
    margin-left: 615px;
}

.row-2 button:hover {
    background-color: #181d2b;
}

.row h4 {
    text-align: center;
}





