html, body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    width: 100%;
    /* height: 100%; */
}

.user-container h1 {
    margin-bottom: 45px;
    margin-left: 50px;
    color: #3C486B;
    font-size: 60px;
}

.user-input {
    display: flex;
    flex-direction: column;
    color: rgba(247, 247, 247, 0.674);
}

.row {
    display: flex;
    /* gap: 100px; */
    width: 100%;
    margin-bottom: 30px;
}

.name_label,
.surname_label,
.username_label,
.id_label,
.email_label,
.age_label,
.description_label {
    margin-right: 10px;
    font-size: 24px;
    color: #3C486B;
    font-weight: 600;
}

.name_box,
.username_box{
    background-color: #F45050;
    width: 215px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 20px;  
    border-radius: 5px;
    color: white;
    border: solid 3px #3C486B;
}

.surname_box{
    background-color: #F45050;
    width: 233px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 20px;  
    border-radius: 5px;
    color: white;
    border: solid 3px #3C486B;
}

.id_box {
    background-color: #F45050;
    width: 260px;
    height: 50px;
    padding: 10px;
    margin-right: 30px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: solid 3px #3C486B;
}

.email_box {
    background-color: #F45050;
    width: 610px;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: solid 3px #3C486B;
}

input[type=number] {
    background-color: #F45050;
    width: 46px;
    height: 30px;
    margin-right: 30px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    text-align: center;
    border: solid 3px #3C486B;
}

.description {
    background-color: #F45050;
    width: 395px;
    height: 120px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: solid 3px #3C486B;
}

.description::placeholder {
    color: #F0F0F0;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.row-2 {
    display: flex;
    flex-direction: column;
}

.row-2 button {
    background-color: #F45050;
    color: #fffffc;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    margin-left: 600px;
    border: solid 3px #3C486B;
}

.row-2 button:hover {
    background-color: #F9D949;
}

.row h4 {
    text-align: center;
}

.displayMessage {
    font-size: 25px;
    margin: 20px auto;
}



