
.header {
    margin-top: 20%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header h1 {
    text-align: center;
    font-size: 36px;
    color: #3C486B;
    filter: drop-shadow(1px 4px 2px #3c486b55);
}

.header p a{
    border: dashed 3px black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 1330px;
    color: #F9D949;
    background-color: #F45050;
    font-size: 18px;
    font-weight: 700;
}

.header p a:hover {
    background-color: #F9D949;
    color: #F45050;
}

.post_list {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    line-height: 2;
    border: solid 3px #3C486B;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff6ce;
}

.post_head {
    display: flex;
    flex-direction: row;
}

.post_head h1 {
    font-size: 24px;
    color: #3C486B;
}

.post_head a {
    position: absolute;
    margin-left: 81%;
}

.post_list {
    margin-bottom: 5%;
}

.post_list h3 {
    color: #F45050;
}

.post_list p {
    width: 90%;
    /* border: solid 1px black; */
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.post_list p span{
    font-weight: 600;
    color: #F45050;
}

.post_list p a img{
    padding-top: 15px;
    margin-right: 20px;
}

