{% extends "base.html" %}

<head>
    {% block head %}
    {{ super() }}
    <link href="{{ url_for('static', path='friends.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="friend-list">
        <h1>My Friends List</h1>
        <div id="friend_list" class="friend_list">
            <ul>
                {% for i in range(data.friends_id|length) %}
                    <li class="friend_name">
                        <div class="aa">
                            <a href="/userProfileFromOther/{{ data.friends_id[i] }}">{{ data.usernames[i] }}</a>
                        </div>
                        <div class="bb">
                            <a href="/removeFriend/{{ data.friends_id[i] }}">
                                <img src="{{ url_for('static', path='images/dusbin2.png') }}" width="30" height="30" alt="">
                            </a>
                            <a href="mailto:{{ data.friends_id[i] }}@kmitl.ac.th">
                                <img src="{{ url_for('static', path='images/mail.png') }}" width="30" height="30" alt="">
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="add_friend">
        <form action="/add_friend" id="friends-form">
            <label><h2>Add a friend</h2></label>
            <input type="number" id="friend_id" name="friend_id" placeholder="Enter your friend's ID">
            <button type="submit">Add Friend</button>
        </form>
        <div class="displayMessage">
            <h4 id="error-message" style="color: red;"></h4>
            <h4 id="done-message" style="color: greenyellow;"></h4>
        </div>
    </div>
   

    <script src="{{ url_for('static', path='friends.js') }}"></script>
    {% endblock %}
</body>

</html>