<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet" type="text/css" >
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Hi {{username}}</h2>
    <h3>Welcome to SE Connect</h3>
    <p><a href="/login">login</a></p>
    <p><a href="/signup">signup</a></p>
    <p><a href="/userProfile">user Profile</a></p>
</body>
</html>