<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='login.css') }}" rel="stylesheet" type="text/css" >
    <title>Login Page</title>
</head>
<body align="center">
    <div class="login_container">
        <h2>Log in</h2>
        <form id="login-form">
            <div class="input-group custom1">
                <input type="number" id="student_id" name="student_id" placeholder="Student ID" required>
            </div>
            <div class="input-group custom2">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <!-- <div class="forget-password">
                <a href="#" id="forgot-password">Forgot Password?</a>
            </div> -->
            <button type="submit" class="submit">LOG IN</button>
        </form>
        <h4 id="error-message" style="color: red;"></h4>
    </div>
    <div class="to-sign-up">
        <p>Don't have an account? 
            <span><a href="/signup"> Sign up</a></span>
        </p>
    </div>
    <script src="{{ url_for('static', path='login.js') }}"></script>
</body>
</html>