<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='signup.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-form">
        <h2>SIGN UP</h2>
        <form id="signup-form_">
            <div class="form-group">
                <input type="text" id="id" name="id" placeholder="Student ID" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <h4 id="error-message" style="color: #F45050; text-align=center;"></h4>
    <script src="{{ url_for('static', path='signUp.js') }}"></script>
</body>
</html>
