{% extends "base.html" %}

<head>
    {% block head %}
    {{ super() }}
    <link href="{{ url_for('static', path='css/startupAdd.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>
    {% block content %}

    <!-- self.id = id
    self.user_id = user_id
    self.username = username
    self.title = title
    self.description = description
    self.skills = []
    self.enrolls = [] -->

    <div class="header">
        <h1>Add a Your startup idea</h1>
        <p><a href="/startup">BACK</a></p>
    </div>
    <form id="form">
        <div id="form-input" class="idea_form">
            <div class="first">
                <div class="a"> 
                    <label for="title">Title :</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="b">
                    <div>
                        <label for="description">Description :</label>
                    </div>
                    <div>
                        <textarea name="description" id="description"></textarea>
                    </div>
                </div>
            </div>
            <h2>Skills you are looking for</h2>
            <div class="second">
                <div class="c">
                    <label for="sktitle1">Skill Title:</label>
                    <input type="text" id="sktitle1" name="sktitle" required>
                </div>
                <div class="d">    
                    <label for="skdescription1">Skill Description :</label>
                    <textarea name="skdescription1" id="skdescription1" cols="30" rows="4"></textarea>    
                </div>
            </div>
        </div>
        <div class="add_on_buttons">
            <div class="e">
                <button onclick="addMoreRows()">Add more skills</button>
            </div>
            <div class="f">
                <p><button type="submit">DONE</button></p>
            </div>
            <h4 id="error-message" style="color: #F45050; text-align:center;"></h4>
        </div>
    </form>
    <script src="{{ url_for('static', path='js/startUpAdd.js') }}"></script>
    {% endblock %}
</body>
