{% extends "base.html" %}

<head>
    {% block head %}
    {{ super() }}
    <link href="{{ url_for('static', path='startupSingle.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>
    {% block content %}

    <!-- self.id = id
    self.user_id = user_id
    self.username = username
    self.title = title
    self.description = description
    self.skills = []
    self.enrolls = [] -->

    <h1>Title: {{data.title}}</h1>
    <h4>Created by: {{data.user_id}} {{data.username}}</h4>
    <p>Description: {{data.description}}</p>
    {% for skill in data.skills %}
        <br>
        <h3>Title: {{skill.title}}</h3>
        <p>Description: {{skill.description}}</p>
        <br>
    {% endfor %}

    <p><a href="/startup/enrolls/{{data.id}}">Enrolls</a></p>

    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% else %}
        <p style="color:green;">{{success}}</p>
    {% endif %}
    
    
    <p><a href="/startup">back</a></p>

    {% endblock %}
</body>
