<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet" type="text/css" >
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <!-- data = {
        "id": user.get_id(),
        "username": user.get_username(),
        "firstName": user.get_firstname(),
        "lastName": user.get_lastname(),
        "email": user.get_email(),
    } -->

    <div class="user-input">
        <p>{{ data.get("id") }}</p>
        <!-- <p>{{data.username}}</p>
        <p>{{data.firstName}}</p>
        <p>{{data.lastName}}</p>
        <p>{{data.email}}</p> -->
    </div>
</body>
</html>