<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet" type="text/css" >
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <!-- data = {
        "id": user.get_id(),
        "username": user.get_username(),
        "firstName": user.get_firstname(),
        "lastName": user.get_lastname(),
        "email": user.get_email(),
    } -->

    <div class="user-input">
        <p>id: {{ data.get("id") }}</p>
        <p>username: {{data.username}}</p>
        <p>first name: {{data.firstName}}</p>
        <p>lastname: {{data.lastName}}</p>
        <p>email: {{data.email}}</p>
        <form>
            <label for="">Age</label>
            <input type="text">
            <br>
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter your Bio"></textarea>
        </form>
    </div>
</body>
</html>