{% extends "base.html" %}

<head>
    {% block head %}
    {{ super() }}
    <link href="{{ url_for('static', path='viewMyStartUpPostedList.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>
    {% block content %}

    <!-- self.id = id
    self.user_id = user_id
    self.username = username
    self.title = title
    self.description = description
    self.skills = []
    self.enrolls = [] -->

    <div class="header">
        <h1>This is the list of your Post</h1>
        <p><a href="/startup">back</a></p>
    </div>
    <br>
    
    {% for post in data %}
        <div class="post_list">
            <div class="post_head">
                <h1>Project : {{post.title}}</h1>
                <a href="/deleteStartupPost/{{post.id}}">
                    <img src="{{ url_for('static', path='images/delete.png') }}" width="20" height="20" alt="">
                </a>
            </div>
            <h3>Enrolls By:</h3>
            {% for id in post.enrolls %}
                <p>
                    <a href="mailto:{{id}}@kmitl.ac.th">
                        <img src="{{ url_for('static', path='images/contact2.png') }}" width="30" height="40" alt="">
                    </a>
                    <span>ID :</span> {{id}}
                </p>
            {% endfor %} 
        </div>
    {% endfor %}
        <div style="margin-bottom:7%;"></div>
    {% endblock %}
</body>
