.block {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 10%;
    border-radius: 20px;
    /* padding-left: 5%; */
    border: solid 5px #3C486B;
    background-color: #f9d94935;
    box-shadow: 0 3px 14px #3C486B;
}

.block {
    font-size: 120%;
}

.title {
    margin-top: 20px;
    line-height: 2.5; 
    color: #3C486B; 
    margin-right: 5%; 
}

.title h1{
    margin-left: 0%;
    font-size: 45px;
    text-align: center;
    filter: drop-shadow(1px 2px 2px #80879d4d);
}

.title h4 {
    font-size: 28px;
    margin-left: 5%;
}

.title p{
    text-indent: 10%;  
}

.title p span{
    font-weight: 600;
}

.title .description_ {
    text-indent: 10%;  
}

.skill {
    margin-top: 10px;
    line-height: 2.5;
    color: #3C486B; 
    margin-right: 5%;  
}

.skill h4 {
    font-size: 25px;
    margin-left: 5%;
    margin-right: 7%;
}

.skill h4 span{
    color: #F45050;
}

.skill p {
    text-indent: 20px;  
}

.skill p span{
    font-weight: 600;
}

.skill .description_ {
    text-indent: 10%;  
}

.bottom_box {
    text-align: center;
    margin-top: 10px;
}

.bottom_box p {
    display: inline-block;
    padding: 10px;
}

.bottom_box p a{
    border: solid 3px black;
    border-radius: 20px;
    padding: 10px;
    color: #F9D949;
    background-color: #F45050;
    font-size: 22px;
    font-weight: 700;
}

.bottom_box p a:hover{
    background-color: #F9D949;
    color: #F45050;
}

.bottom_box .error-message p{
    margin-top: 25px;
}

